.distribution-by-percent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&__total {
		padding: 3px 5px 3px 7px;
		border: 2px solid #ccc;
		border-radius: 7px;
		letter-spacing: 1.5px;
		margin: 0 0 5px 10px;
	}

	&__participants {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-height: 150px;
		padding: 5px 10px;
		overflow-y: auto;
		scrollbar-width: thin;
		scrollbar-color: #203d49 rgba(100, 100, 100, 0.1);

		&::-webkit-scrollbar {
			width: 5px;
			height: 0;
		}

		&::-webkit-scrollbar-track {
			background: #eaeaea;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 3px;
			background: #cdcdcd;
		}

		&-void {
			font-weight: 700;
			color: #FA5555;
			margin: 0 0 0 10px;
		}
	}

	&__participant {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 3px 5px;
		border-radius: 3px;

		&:hover {
			background: #eee;
		}
	}

	&__slider {
		flex: 0 1 75%;
	}

	&__name {
		flex: 0 1 15%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding: 0 10px 0 0;
	}
}

.distribution-input-numeric {
	flex: 0 1 60px;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	&__minus {
		width: 15px;
		height: 15px;
		padding: 0 0 2px 0;
		border-radius: 50%;
		background: #4c8bf7;
		color: #fff;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #2060c7;
		cursor: pointer;
	}

	&__plus {
		border-radius: 50%;
		line-height: 0;
		padding: 0 0 2px 0;
		height: 15px;
		display: flex;
		width: 15px;
		background: #4c8bf7;
		align-items: center;
		justify-content: center;
		color: #fff;
		border: 1px solid #2060c7;
		cursor: pointer;
	}

	&__total {
		font-weight: 600;
		margin: 0 2px;
	}
}