.label-checkbox {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 3px 3px 3px 7px;
	border-radius: 3px;
	&:hover {
		background: #eee;
	}
	&__checkbox {
		transform: scale(1.4);
	}
	&__label {
		font-size: 17px;
		margin: 0 0 0 10px;
		color: #333;
	}
}