.drivable {
    cursor: pointer;
    padding: 1px 0 0 0;
    position: absolute;
    background: #f37575;
    color: #fff;
    border-radius: 1px 0 0 1px;
    height: 100%;
    right: -40px;
    top: 0;
    font-size: 14px;
    width: 40px;
    transition: all .3s ease;
    &:hover {
        color: #fafafa;
        background: #f45d5d;
    }
}

.patterns-list {
	border: 1px solid #ccc;
	border-radius: 10px;
	background: #fff;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

	&>:not(:last-child) {
		border-bottom: 1px solid #ccc;
	}

	&__header {
		display: grid;
		grid-template-columns: 4fr 3fr 4fr 3fr;
		justify-content: space-between;
		align-items: center;

		&>:not(:last-child) {
			border-right: 1px solid #ccc;
		}

		&-item {
			padding: 10px 5px 10px 10px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			font-weight: 700;
		}
	}

	&__item {
		position: relative;
		display: grid;
		grid-template-columns: 4fr 3fr 4fr 3fr;
		justify-content: space-between;
		align-items: center;
		overflow: hidden;

		&-inner {
			padding: 5px 5px 5px 10px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}

		&:hover .drivable {
			right: 0;
		}
	}

	& .patterns-list-button-add {
		display: flex;
		align-items: center;
		cursor: pointer;
		padding: 5px 10px;
		color: #999;

		&:hover {
			color: #444;
		}

		&__plus {
			line-height: 0;
			border: 1px solid #ccc;
			border-radius: 5px;
			font-weight: 700;
			font-size: 18px;
			padding: 10px 6px 13px 6px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 10px 0 0;
		}
	}
}