.button {
    background-color: inherit;
    border: 1px solid #3a86ff;
    border-radius: 5px;
    color: #3a86ff;
    padding: 9px 13px;
    cursor: pointer;
}

.accent {
    background-color: #3a86ff;
    color: white;
}

.drivable {
    position: absolute;
    background: #ff3d3d;
    right: 0;
    top: 0;
}
